/**********GENERAL**********/
a{
	text-decoration: none;
	color: #FFFFAA;
}

#wrapper{
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5x;
	background: orange;
}

/***********HEADING*********/

header{
	background: #AA3939;
	border-color: #D46A6A;
}

#logo{
	text-align: center;
	margin: 0;
}


h1{
	font-family: 'Josefin Sans', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 1.2em;
	color: #fff;
}

/********NAVIGATION************/

nav{
	background: #550000;
}

nav a, nav a:visited{
	color: #D46A6A;
}

nav a.selected {
	color: #FFFFAA;
}

nav a:hover{
	color: #FFFFAA;
}